# Debian build artifacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*/
!debian/control
!debian/rules
!debian/changelog
!debian/source/
!debian/*.desktop
!debian/*.policy

# Packages
*.deb
*.dsc
*.buildinfo
*.changes
*.tar.*
